#mainNavigation {
  margin-bottom: 10px;
}
#mainNavigation a {
  cursor: pointer;
}

#surveillanceCategory {
  margin-bottom: 10px;
}

#surveillanceDetails #surveillanceImage img {
  width: 100%;
}
#surveillanceDetails #surveillanceLocation {
  position: absolute;
  top: 0px;
  right: 15px;
}
